In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, r2_score

from sklearn.model_selection import train_test_split

In [3]:
from sklearn.datasets import fetch_california_housing

In [4]:
housing_data = fetch_california_housing()

In [5]:
print(housing_data.DESCR)

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [6]:
col_name = housing_data.feature_names
col_name

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [7]:
data = pd.DataFrame(housing_data.data, columns=col_name)
data.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [8]:
data.sample(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
5886,3.4286,44.0,4.136086,0.992355,1676.0,2.562691,34.16,-118.33
8344,4.0625,35.0,4.794466,1.122530,742.0,2.932806,33.93,-118.34
9891,2.2366,23.0,3.443350,0.955665,1112.0,2.738916,38.29,-122.28
20160,2.4375,23.0,4.947368,1.210526,130.0,2.280702,34.38,-119.31
4227,3.5172,43.0,3.988345,1.032634,1190.0,2.773893,34.10,-118.29

In [9]:
housing_data.target_names

['MedHouseVal']

In [10]:
housing_data.target

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])

In [11]:
data['MedHouseVal'] = housing_data.target

In [12]:
data.sample(10)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
684,2.7955,31.0,5.070064,1.140127,1561.0,2.485669,37.68,-122.14,1.831
14845,2.2201,29.0,4.525253,1.133838,1650.0,4.166667,32.68,-117.09,1.000
17959,4.8365,35.0,5.720635,0.923810,841.0,2.669841,37.33,-121.99,3.139
20388,7.9943,16.0,8.367609,1.050129,2304.0,2.961440,34.20,-118.90,4.521
8819,2.4432,37.0,2.866799,0.996024,998.0,1.984095,34.09,-118.34,2.000
12348,2.6083,36.0,6.685606,1.511364,451.0,1.708333,33.83,-116.56,3.219
607,3.3478,42.0,5.795082,1.122951,629.0,2.577869,37.69,-122.08,1.849
12764,1.9908,33.0,4.491049,1.054987,1515.0,1.937340,38.61,-121.40,1.188
11582,5.0866,32.0,6.195426,1.027027,1370.0,2.848233,33.76,-118.03,2.235
1119,2.0458,18.0,5.047727,1.043182,952.0,2.163636,39.78,-121.57,1.057

In [13]:
data.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [14]:
data.to_csv('california_housing.csv', index=False)

In [15]:
data.to_excel('california_housing.xlsx')

In [16]:
data.sample(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
16266,2.5234,40.0,5.245098,1.029412,335.0,3.284314,37.96,-121.26,0.62800
4427,2.3942,16.0,3.298165,1.032110,801.0,3.674312,34.07,-118.25,1.33300
8031,4.2841,46.0,6.521390,1.147059,944.0,2.524064,33.84,-118.13,3.12400
7518,3.4917,35.0,5.065068,0.931507,963.0,3.297945,33.91,-118.25,1.09500
8304,7.3672,47.0,5.978456,1.021544,1220.0,2.190305,33.75,-118.12,5.00001

In [17]:
data.isna().sum()

MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
MedHouseVal    0
dtype: int64

In [18]:
data.shape

(20640, 9)

In [19]:
data.drop_duplicates(inplace=True)

In [20]:
data.shape

(20640, 9)

In [21]:
X = data.drop(['MedHouseVal'], axis=1)
y = data['MedHouseVal']

$x_i \in X$


X : {x1, x2, x3, ... xn}

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2,
                                                    random_state=666,
                                                    shuffle=True)

In [23]:
X_train.shape

(16512, 8)

In [24]:
X_test.shape

(4128, 8)

In [25]:
X_train.sample(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
707,5.1701,23.0,5.809892,0.988408,3827.0,2.957496,37.68,-122.05
19202,1.5026,38.0,3.192817,0.994329,1071.0,2.024575,38.43,-122.71
9053,4.3229,7.0,5.623570,1.012586,2833.0,3.241419,34.70,-118.12
5548,5.7260,41.0,5.267241,1.020115,847.0,2.433908,33.97,-118.37
7666,3.7143,39.0,4.994186,0.953488,673.0,3.912791,33.93,-118.08

In [26]:
X_train.corr()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
MedInc,1.000000,-0.116846,0.319170,-0.061197,0.002839,0.021850,-0.079627,-0.015013
HouseAge,-0.116846,1.000000,-0.150010,-0.074067,-0.292521,0.012795,0.005927,-0.102560
AveRooms,0.319170,-0.150010,1.000000,0.854217,-0.072484,-0.008535,0.105857,-0.028308
AveBedrms,-0.061197,-0.074067,0.854217,1.000000,-0.064795,-0.006789,0.070774,0.010582
Population,0.002839,-0.292521,-0.072484,-0.064795,1.000000,0.063033,-0.108795,0.100166
AveOccup,0.021850,0.012795,-0.008535,-0.006789,0.063033,1.000000,0.006487,0.001432
Latitude,-0.079627,0.005927,0.105857,0.070774,-0.108795,0.006487,1.000000,-0.924894
Longitude,-0.015013,-0.102560,-0.028308,0.010582,0.100166,0.001432,-0.924894,1.000000

In [27]:
X_train.drop(['AveBedrms', 'Longitude'], axis=1, inplace=True)
X_test.drop(['AveBedrms', 'Longitude'], axis=1, inplace=True)

In [28]:
from sklearn.preprocessing import RobustScaler, StandardScaler

In [29]:
# scaler = RobustScaler()
scaler = StandardScaler()

In [30]:
# X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

In [31]:
model = LinearRegression(n_jobs=-1)

In [32]:
model.fit(X_train, y_train)

LinearRegression(n_jobs=-1)

In [33]:
y_pred = model.predict(X_test)

In [34]:
mean_absolute_error(y_test, y_pred)

0.6017824562730462

In [35]:
r2_score(y_test, y_pred)

0.4972701455317916

In [36]:
model.coef_

array([ 4.35680026e-01,  1.77630474e-02, -1.83126098e-02,  1.92317992e-05,
       -4.94070645e-03, -4.39991463e-02])

In [37]:
model.intercept_

1.5297950091727601

In [38]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [39]:
rand_forest = RandomForestRegressor(n_jobs=-1, n_estimators=100, )

In [40]:
rand_forest.fit(X_train, y_train)

RandomForestRegressor(n_jobs=-1)

In [41]:
y_pred = rand_forest.predict(X_test)

In [42]:
r2_score(y_test, y_pred)

0.7244337356639827